# git
.git
.gitignore
.husky

# github
LICENSE
README.md

# TypeScript cache
*.tsbuildinfo

# node
node_modules
dist

# docker
Dockerfile*

# eslint
.eslint*

# prettier
.prettier*

# blacklab server
blacklabServer/

# misc
.DS_Store